

section.search {
  // width: 10em;
}

ul.search-results {
  list-style: none;

}

ul.search-results li {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
  &:nth-child(even) {
    background: #ccc;
  }
  &:nth-child(odd) {
    background: #eee;
  }
}

// ul.search-results li span{
//   &:first-child {
//     width: 10%;
//   }
//   &:last-child {
//     width: 10%;
//   }
// }